#container{
	width: 890px;
	margin: 0 auto;
}

#content{
	font-family: "Verdana","Sans Serif","OpenSymbol"; 
	font-size: 14px;
	color: #000000;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: #D8D8D8;
	margin-top: 16px;
	padding-right: 10px;
	margin-bottom: 15px;
	width: 600px;
	text-align: justify;
	z-index: 1;
}

#sidebar{
	font-family: "Verdana","Sans Serif","OpenSymbol"; 
	font-size: 14px;
	color: #000000;
	width: 270px;
	float: right;
	padding-left: 5px;
	margin-bottom: 15px;
	text-align: justify;
}

.cat-item{
	font-family: Arial,"Verdana"; 
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	margin-left: 5px;
}

.twitter{
	padding-left: 5px;
}

.comments{
	width: 600px;
}

.content_small{
	font-size: 11px;
}

.author{
	text-align: right;
}

div.post_separator{
	clear: left;
	background-image: url("./../img/desktop/menu_line.png"); 
	background-repeat: repeat-x; 
	height: 6px;
	margin-bottom: 2px;
}

div.post_separator hr{
	display: none;
}

.clear{
	clear: both; 
}

.clear_left{
	clear: left;
}

.clear_center{
	text-align: center;
}

.sid_line{
	background-color: #1C83CE;
	width: 100%;
	height: 2px;
	z-index: 1;
	margin-bottom: 4px;
}

.sidebar_txt{
	text-align: left;
	z-index: 0;
}

.width{ 
	width: 100%; 
}

.iframe{
	width: 250px; 
	height: 300px; 
	overflow: hidden;
	border: 0px;
}
